@import url("https://rsms.me/inter/inter.css");

html,
body {
  color: #fff;
  background-color: #171720;
  font-family: "Inter var", sans-serif;
  font-variation-settings: "wght" 900;
  text-align: center;
}

h1 {
  font-size: 48px;
}

img {
  max-width: 100%;
}
